.body_backgorund 
{
    background-image:url(hOye.gif);
    background-position:center;
    background-size:cover;
}
#myCanvas
{
   border-width:10px;
   background-color: #D92121;
   border-style: ridge;
   border-color: #B284BE;
}

